In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_fwf('Meteologica_vacante_ProgPredR_ProblemaDatos_20190910.txt', parse_dates=['observaciones'])#, sep=" ", header=None)

In [3]:
data.head()

      observaciones Unnamed: 1
0  2008-01-02 15:00     512 36
1  2008-01-02 18:00     726 27
2  2008-01-02 21:00     730 23
3  2008-01-03 00:00     844 38
4  2008-01-03 03:00     948 46

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2882 entries, 0 to 2881
Data columns (total 2 columns):
observaciones    2882 non-null object
Unnamed: 1       2881 non-null object
dtypes: object(2)
memory usage: 45.1+ KB

In [5]:
data.loc[data['observaciones'] == 'predicciones']

     observaciones Unnamed: 1
2874  predicciones        NaN

In [6]:
split = data.loc[data['observaciones'] == 'predicciones'].index.values.astype(int)[0]
df_observation = data[:split]
df_prediction = data[split+1:]

In [7]:
print(df_observation.shape)
print(df_prediction.shape)
df_prediction

(2874, 2)
(7, 2)

         observaciones Unnamed: 1
2875  2009-11-12 00:00         62
2876  2009-11-15 03:00         65
2877  2009-11-12 06:00         74
2878  2009-11-12 09:00         39
2879  2009-11-16 12:00         26
2880  2009-11-28 18:00         20
2881  2009-11-13 00:00          4

In [8]:
df_observation['dates'] = pd.to_datetime(df_observation['observaciones'], errors='coerce', format='%Y-%m-%d %H:%M')
df_prediction['dates'] = pd.to_datetime(df_prediction['observaciones'], errors='coerce', format='%Y-%m-%d %H:%M')

/home/slimbook/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/slimbook/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
df_observation.columns

Index(['observaciones', 'Unnamed: 1', 'dates'], dtype='object')

In [10]:
df_observation.set_index(df_observation['dates'], inplace = True)
df_prediction.set_index(df_prediction['dates'], inplace = True)
df_observation = df_observation[[x for x in df_observation.columns if x != 'observaciones' and x != 'dates']]
df_predict = df_prediction[[x for x in df_observation.columns if x != 'observaciones' and x != 'dates']]

In [11]:
display(df_observation.head())

                    Unnamed: 1
dates
2008-01-02 15:00:00     512 36
2008-01-02 18:00:00     726 27
2008-01-02 21:00:00     730 23
2008-01-03 00:00:00     844 38
2008-01-03 03:00:00     948 46

In [12]:
df_observation[['production','wind_mod']] = df_observation['Unnamed: 1'].str.split(" ",expand=True)
df_observation = df_observation[[x for x in df_observation.columns if x != 'Unnamed: 1']]
df_predict = df_predict.rename(columns={'Unnamed: 1': 'wind_mod'})

In [13]:
df_observation.head()

                    production wind_mod
dates
2008-01-02 15:00:00        512       36
2008-01-02 18:00:00        726       27
2008-01-02 21:00:00        730       23
2008-01-03 00:00:00        844       38
2008-01-03 03:00:00        948       46

In [23]:
#################
#################
#    ERRORES

import math
import numpy as np 
  
# Given values 
Y_true = [1,1,2,2,4]  # Y_true = Y (original values) 
  
# Calculated values 
Y_pred = [0.6,1.29,1.99,2.69,3.4]  # Y_pred = Y' 
  
# Mean Squared Error 
MSE = np.square(np.subtract(Y_true,Y_pred)).mean() 

def _error(actual: np.ndarray, predicted: np.ndarray):
    """ Simple error """
    return actual - predicted

def mse(actual: np.ndarray, predicted: np.ndarray):
    """ Mean Squared Error """
    return np.mean(np.square(_error(actual, predicted)))


def rmse(actual: np.ndarray, predicted: np.ndarray):
    """ Root Mean Squared Error """
    return np.sqrt(mse(actual, predicted))

In [15]:
### Valor k = range(1/2 - 3/2)
### Valor L = max(wind_mod)
### Valor x0 = range(0 - max(wind_mod))

In [16]:
L = int(df_observation['wind_mod'].max())
print(L)

99

In [17]:
k = list(np.arange(0.5,1.5,0.05))
print(k)

[0.5, 0.55, 0.6000000000000001, 0.6500000000000001, 0.7000000000000002, 0.7500000000000002, 0.8000000000000003, 0.8500000000000003, 0.9000000000000004, 0.9500000000000004, 1.0000000000000004, 1.0500000000000005, 1.1000000000000005, 1.1500000000000006, 1.2000000000000006, 1.2500000000000007, 1.3000000000000007, 1.3500000000000008, 1.4000000000000008, 1.4500000000000008]

In [18]:
x0 = list(np.linspace(start=0, stop=L, num=20))
print(x0)

[0.0, 5.2105263157894735, 10.421052631578947, 15.631578947368421, 20.842105263157894, 26.052631578947366, 31.263157894736842, 36.473684210526315, 41.68421052631579, 46.89473684210526, 52.10526315789473, 57.315789473684205, 62.526315789473685, 67.73684210526315, 72.94736842105263, 78.1578947368421, 83.36842105263158, 88.57894736842105, 93.78947368421052, 99.0]

In [19]:
wind_mod = list(map(int, list(df_observation['wind_mod'])))
print(len(wind_mod))
max(wind_mod)

2874

136

In [20]:
lst = []
for x in wind_mod:   
    for i in k:
        f = x * i
        lst.append(f)
        #lst.append(lista)

k1 = ([int(x*i) for x in wind_mod for i in k])
x2 = ([int(x*z) for x in wind_mod for z in x0])
type(k1[0])

k = (np.arange(0.5,1.5,0.05).astype(float)).tolist()
type(k[0])

float

In [35]:
wind_mod = list(map(int, list(df_observation['wind_mod'])))
L = float(max(wind_mod))
k = (np.arange(0.5,1.5,0.05)).tolist()
x0 = (np.linspace(start=0, stop=L, num=20)).tolist()
print(type(L))
print(type(k[0]))
print(len(k))
print(type(x0[0]))

<class 'float'>
<class 'float'>
20
<class 'float'>

In [36]:
([L//(1-math.exp(-(k[9])*((wind_mod[90])-(x0[0]))))])

[136.0]

In [54]:
def _error(actual: np.ndarray, predicted: np.ndarray):
    """ Simple error """
    return actual - predicted

def mse(actual: np.ndarray, predicted: np.ndarray):
    """ Mean Squared Error """
    return np.mean(np.square(_error(actual, predicted)))


def rmse(actual: np.ndarray, predicted: np.ndarray):
    """ Root Mean Squared Error """
    return np.sqrt(mse(actual, predicted))

In [76]:
wind_mod_pred = list(map(int, list(df_predict['wind_mod'])))
result = []
parameters = []
mse_err = []
rmse_err = []
for x in range(len(wind_mod)):
    for i in range(len(k)):
        for s in range(len(x0)):
            
            try:
                func = [L//(1-math.exp(-((k[i]))*((wind_mod[x])-(x0[s]))))]
                params = [k[i], x0[s]]
                
                result.append(func)
                parameters.append(params)
                
                actual_array = np.asarray(func, dtype=np.float32)
                predicted_array = np.asarray(wind_mod_pred, dtype=np.float32)
                
                mse_err.append(mse(actual_array, predicted_array))
                rmse_err.append(rmse(actual_array, predicted_array))
                
            except ZeroDivisionError:
                continue

Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined
Undefined

In [79]:
print(type(rmse_err[0]))
print(np.amin(rmse_err))
print(np.argmin(rmse_err))
print(parameters[(int(np.argmin(rmse_err)))])
print(result[(int(np.argmin(rmse_err)))])
print(result[(int(np.argmin(mse_err)))])
print(wind_mod[(int(np.argmin(rmse_err)))])

<class 'numpy.float32'>
48.90954
7
[0.5, 50.10526315789474]
[-1.0]
[-1.0]
59

In [51]:
wind_mod_pred = list(map(int, list(df_predict['wind_mod'])))

In [58]:
test_1 = np.asarray(wind_mod_pred, dtype=np.float32)
test_2 = np.asarray(result, dtype=np.float32)
print(mse(test_2, test_1))
print(rmse(test_2, test_1))

#mse_err.append(mse(result, wind_mod_pred))
#rmse_err.append(rmse())

12781.344
113.0546

In [50]:
len(parameters)

1149580